body, html {
    float: left;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.elara-container {
    float: left;
    width: 100%;
    height: 100%;
}

/* Workspaces menu preview windows back */
body, .elera-window-set-preview {
    background: url('wallpaper2.png') no-repeat;
    background-size: cover;
}