.elara-tile-view {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}

.elara-tile-view > .tile {
  float: left;
  width: 96px;
  height: 96px;
  border: solid 1px transparent;
  cursor: pointer;
  position: absolute;
}

.elara-tile-view > .tile > .image-container {
  float: left;
  width: 96px;
  height: 64px;
  margin-top: 4px;
}

.elara-tile-view > .tile > .image-container > img {
  float: left;
  width: 100%;
  height: 100%;
}

.elara-tile-view > .tile > .title {
  float: left;
  width: 96px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}

.elara-tile-view > .tile:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: #fff;
}

.elara-tile-view > .tile.animate-position {
  transition: left 0.2s, top 0.2s;
}
