.elara-tile-view {
    float:left;
    width: 100%;
    height: 100%;
    position: relative;

    > .tile {
        float:left;
        width: 96px;
        height: 96px;     
        border: solid 1px transparent;
        cursor: pointer;
        position: absolute;
        color: #fff;
        text-shadow: -1px -1px #000;

        > .image-container {
            float: left;
            width: 96px;
            height: 64px;    
            margin-top: 4px;

            > img {
                float:left;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        > .title {
            float: left;
            width: 96px;
            height: 28px;
            text-align: center;
            line-height: 28px;
            font-size: 13px;
            text-overflow: ellipsis;
            overflow: hidden;
            user-select: none;           
        }

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            border-color: #fff;
        }

        &.animate-position {
            transition: left 0.2s, top 0.2s;
        }
    }
}